################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/PythonSettings.json
/.vs/ProjectSettings.json
/.vs/test/v17
/.vs/test/FileContentIndex
